USE [master]
GO
/****** Object:  Database [Comics]    Script Date: 08/07/2024 11:51:10 CH ******/
CREATE DATABASE [Comics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Comics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Comics.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Comics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Comics_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Comics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Comics]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 08/07/2024 11:51:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChapterImages]    Script Date: 08/07/2024 11:51:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChapterImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ChapterId] [int] NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[OrderNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 08/07/2024 11:51:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[ChapterId] [int] IDENTITY(1,1) NOT NULL,
	[StoryId] [int] NULL,
	[ChapterNumber] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChapterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 08/07/2024 11:51:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[StoryId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CommentedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 08/07/2024 11:51:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[FavoriteId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[StoryId] [int] NULL,
	[AddedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 08/07/2024 11:51:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingHistory]    Script Date: 08/07/2024 11:51:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadingHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[StoryId] [int] NULL,
	[ChapterId] [int] NULL,
	[ReadAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 08/07/2024 11:51:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[StoryId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[AuthorId] [int] NULL,
	[GenreId] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[Image] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[StoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/07/2024 11:51:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorId], [AuthorName]) VALUES (1, N'Author 1')
INSERT [dbo].[Authors] ([AuthorId], [AuthorName]) VALUES (2, N'Author 2')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[ChapterImages] ON 

INSERT [dbo].[ChapterImages] ([ImageId], [ChapterId], [ImageUrl], [OrderNumber]) VALUES (1, 1, N'https://example.com/story1/chapter1/image1.jpg', 1)
INSERT [dbo].[ChapterImages] ([ImageId], [ChapterId], [ImageUrl], [OrderNumber]) VALUES (2, 1, N'https://example.com/story1/chapter1/image2.jpg', 2)
INSERT [dbo].[ChapterImages] ([ImageId], [ChapterId], [ImageUrl], [OrderNumber]) VALUES (3, 2, N'https://example.com/story1/chapter2/image1.jpg', 1)
SET IDENTITY_INSERT [dbo].[ChapterImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Chapters] ON 

INSERT [dbo].[Chapters] ([ChapterId], [StoryId], [ChapterNumber], [Title], [CreatedAt]) VALUES (1, 1, 1, N'Chapter 1', CAST(N'2024-07-08T14:55:50.127' AS DateTime))
INSERT [dbo].[Chapters] ([ChapterId], [StoryId], [ChapterNumber], [Title], [CreatedAt]) VALUES (2, 1, 2, N'Chapter 2', CAST(N'2024-07-08T14:55:50.127' AS DateTime))
INSERT [dbo].[Chapters] ([ChapterId], [StoryId], [ChapterNumber], [Title], [CreatedAt]) VALUES (3, 2, 1, N'Chapter 1', CAST(N'2024-07-08T14:55:50.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[Chapters] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentId], [UserId], [StoryId], [Comment], [CommentedAt]) VALUES (1, 2, 1, N'This is a comment on Story 1 by User 2', CAST(N'2024-07-08T14:55:50.130' AS DateTime))
INSERT [dbo].[Comments] ([CommentId], [UserId], [StoryId], [Comment], [CommentedAt]) VALUES (2, 3, 2, N'This is a comment on Story 2 by User 3', CAST(N'2024-07-08T14:55:50.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([FavoriteId], [UserId], [StoryId], [AddedAt]) VALUES (1, 2, 1, CAST(N'2024-07-08T14:55:50.130' AS DateTime))
INSERT [dbo].[Favorites] ([FavoriteId], [UserId], [StoryId], [AddedAt]) VALUES (2, 3, 2, CAST(N'2024-07-08T14:55:50.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([GenreId], [GenreName]) VALUES (1, N'Fantasy')
INSERT [dbo].[Genres] ([GenreId], [GenreName]) VALUES (2, N'Science Fiction')
INSERT [dbo].[Genres] ([GenreId], [GenreName]) VALUES (3, N'Romance')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[ReadingHistory] ON 

INSERT [dbo].[ReadingHistory] ([HistoryId], [UserId], [StoryId], [ChapterId], [ReadAt]) VALUES (1, 2, 1, 1, CAST(N'2024-07-08T14:55:50.130' AS DateTime))
INSERT [dbo].[ReadingHistory] ([HistoryId], [UserId], [StoryId], [ChapterId], [ReadAt]) VALUES (2, 3, 2, 1, CAST(N'2024-07-08T14:55:50.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[ReadingHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Stories] ON 

SET IDENTITY_INSERT [dbo].[Stories] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [PasswordHash], [Email], [Role], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'hashed_password_1', N'admin@example.com', N'Admin', 1, CAST(N'2024-07-08T14:55:50.087' AS DateTime))
INSERT [dbo].[Users] ([UserId], [UserName], [PasswordHash], [Email], [Role], [IsActive], [CreatedAt]) VALUES (2, N'user1', N'hashed_password_2', N'user1@example.com', N'User', 1, CAST(N'2024-07-08T14:55:50.087' AS DateTime))
INSERT [dbo].[Users] ([UserId], [UserName], [PasswordHash], [Email], [Role], [IsActive], [CreatedAt]) VALUES (3, N'user2', N'hashed_password_3', N'user2@example.com', N'User', 1, CAST(N'2024-07-08T14:55:50.087' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Chapters] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CommentedAt]
GO
ALTER TABLE [dbo].[Favorites] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[ReadingHistory] ADD  DEFAULT (getdate()) FOR [ReadAt]
GO
ALTER TABLE [dbo].[Stories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChapterImages]  WITH CHECK ADD FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapters] ([ChapterId])
GO
ALTER TABLE [dbo].[Chapters]  WITH CHECK ADD FOREIGN KEY([StoryId])
REFERENCES [dbo].[Stories] ([StoryId])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([StoryId])
REFERENCES [dbo].[Stories] ([StoryId])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD FOREIGN KEY([StoryId])
REFERENCES [dbo].[Stories] ([StoryId])
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ReadingHistory]  WITH CHECK ADD FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapters] ([ChapterId])
GO
ALTER TABLE [dbo].[ReadingHistory]  WITH CHECK ADD FOREIGN KEY([StoryId])
REFERENCES [dbo].[Stories] ([StoryId])
GO
ALTER TABLE [dbo].[ReadingHistory]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([AuthorId])
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([GenreId])
GO
USE [master]
GO
